<h1>Authors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Homepage</th>
    <th>Links</th>
  </tr>
  <% @authors.each do |author| %>
  <tr>
    <td><%= author.name %></td>
    <td><%= author.homepage %></td>
    <td>
      <%= link_to "Details", author_path(author.id) %>,
      <%= link_to "Edit", edit_author_path(author.id) %>,
      <%= link_to "Delete", author_path(author.id), method: :delete %>
    </td>
  </tr>
  <% end %>
</table>

<%= link_to "New", new_author_path %>