<%= form_with model: @author do |form| %>
  <p>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
  </p>

  <p>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
    <% @author.errors.full_messages_for(:last_name).each do |message| %>
      <div><%= "error: " + message %></div>
    <% end %>
  </p>

  <p>
    <%= form.label :homepage %><br>
    <%= form.text_field :homepage %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>