<%= form_with scope: :author, local: true do |form| %>
  <p>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>

    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>

    <%= form.label :homepage %><br>
    <%= form.text_field :homepage %>
  </p>
<% end %>